*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}
body{
  background-color:rgba(25, 25, 26, 0.836);
}
header{
  top: 0;
  z-index: 1000;
  position: sticky;
  background-color: rgb(92, 84, 84);
  box-shadow: rgba(202, 195, 195, 0.877) 0px 3px 6px, rgba(218, 209, 209, 0.842) 0px 3px 6px;
}
h2{
  text-shadow: 2px 7px 5px rgba(230, 224, 224, 0.884), 
    0px -4px 10px rgba(173, 166, 166, 0.6);
}
.list-item{
  background-color: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(15px);
  transition: all 0.4s ease;
}
.list-item:hover{
  transform: translateY(-5px) scale(1.05);
  box-shadow: rgba(202, 195, 195, 0.877) 0px 3px 6px, rgba(218, 209, 209, 0.842) 0px 3px 6px;
}
.btn-login{
  transition: all 0.4s ease;
}
.btn-login:hover{
  transform:  scale(0.95);
  box-shadow: rgba(230, 223, 223, 0.822) 0px 3px 6px, rgba(184, 178, 178, 0.23) 0px 3px 6px;
}
.btn-more{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  transition: all 0.4s ease;
}
.btn-more:hover{
  transform:  scale(0.95);
  box-shadow: rgba(230, 223, 223, 0.822) 0px 3px 6px, rgba(184, 178, 178, 0.23) 0px 3px 6px;
}


/* dark mode */

.switch {
  --secondary-container: #3a4b39;
  --primary: #84da89;
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.7em;
  height: 1.8em;
 }
 
 .switch input {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
 }
 
 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #313033;
  transition: .2s;
  border-radius: 30px;
 }
 
 .slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.2em;
  bottom: 0.2em;
  background-color: #aeaaae;
  transition: .4s;
 }
 
 input:checked + .slider::before {
  background-color: var(--primary);
 }
 
 input:checked + .slider {
  background-color: var(--secondary-container);
 }
 
 input:focus + .slider {
  box-shadow: 0 0 1px var(--secondary-container);
 }
 
 input:checked + .slider:before {
  transform: translateX(1.9em);
 }

 /* //Modal  */

 .modal-wrapper{
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}
.modal{
  position: absolute;
  width: 60%;
  height: 50%;
  background-color: rgb(199, 196, 196);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.open-modal{
  display: block;
}
.dark-mode{
  background-color: rgb(185, 182, 176);
  color: black;
}
.dark-item{
  background-color: rgba(54, 53, 53, 0.884);
  backdrop-filter: blur(15px);
}